@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  background-image: linear-gradient(45deg, black, crimson);
  height: 100%;
  color: #000;
  font-family: fantasy;
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid
}

form button {
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: linear-gradient(45deg, black, crimson);
}

.input-tarefa {
  border-radius: 9999px;
  padding: 8px 16px;
  width: 70%;
}

.btn-tarefa {
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 16px;
  float: right;
}

.apagar {
  border-radius: 5px;
  padding: 4px 8px;
  font-size: 16px;
}